{% extends 'base/base.html' %}
{% load static %}

{% block title %}Teacher Dashboard{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'style/teacher.css' %}">
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/teacher.js' %}"></script>
{% endblock %}

{% block content %}
<main>
    <h1>Teaching Dashboard</h1>

    <div class="actions">
        <div id="form-container" style="display: none;">
            <form id="course-form" data-url="{% url 'create_course' %}">
                {% csrf_token %}
                <input type="text" name="name" placeholder="Course Name" required>
                <br>
                <textarea name="description" placeholder="Course Description" required></textarea>
                <br>
                <button type="submit">Create Course</button>
            </form>
        </div>

        <button id="add-course">Add New Course</button>
    </div>


    </div>


    {% for course in courses %}
    {% if course.teacher == user %}
    <div class="course-card">
        <h2>Course: {{ course.name }}</h2>
        <p>{{ course.description }}</p>

        <div class="actions">
            <a href="{% url 'course_detail' course.id %}" class="btn">View Course Details</a>
            <a href="{% url 'assign_student' course.id %}" class="btn">Assign Students</a>
            {% csrf_token %}
            <button class="delete-course-btn" id="{{ course.id }}" style="height: 45px;">Delete</button>

            <button id="view-lesson-{{ course.id }}" class="btn view-lesson-btn" style="display: block; height:45px;">
                View Lessons
            </button>
            <div class="lesson-card" id="lesson-{{ course.id }}" style="display: none;">
                {% for lesson in course.lessons.all %}
                <a href="{% url 'teacher_lesson_detail' course_id=course.id lesson_id=lesson.id %}">
                    View Lesson No {{ lesson.id }}
                </a>
                {% empty %}
                <p>No lessons added to this course yet.</p>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</main>




{% endblock %}